html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.txt-rt{text-align:right;}
.txt-lt{text-align:left;}
.txt-center{text-align:center;}
.float-rt{float:right;}
.float-lt{float:left;}
.clear{clear:both;}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.vertical-base{	vertical-align:baseline;}
.vertical-top{	vertical-align:top;}
nav.vertical ul li{	display:block;}
nav.horizontal ul li{	display: inline-block;}
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/Nexa_Free_Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'nexa_lightregular';
	background-image:url(../images/bgmohu3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
 	font-weight: 300;
}
.user-desc {
	background: #2a2b2c;
	padding:0.5em 0;
}
.user-desc ul li a {
	color: #fff;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	font-weight: 400;
}
.user-desc ul {
	float:right;
}
.user-desc ul li {
	display: inline-block;
	margin: 0 5px;
}
i.user{
	width:25px;
	height:25px;
	background:url('../images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
	vertical-align: middle;
}
i.cart{
	width: 30px;
	height: 30px;
	background: url('../images/img-sprite.png') no-repeat -25px 0px;
	display: inline-block;
	vertical-align: middle;
}

.sales-head h3 {
	color: #434343;
	font-weight: 200;
	font-size: 3.5em;
	margin-bottom: 1em;
}
.sales-head h3 span{
	background:#39c4da;
	color:#fff;
	padding:0 8px;
}
.header {
		background-image:url(../images/index/bground.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.logo {
	float: left;
		padding: 0px;

}
.logo img {
	box-shadow: 9px 7px 22px 0px rgba(50, 50, 50, 0.18);
	width: 100%;
}
.top-menu ul li {
	display: inline-block;
	margin: 0 15px;
}
.top-menu ul li a{
	color:#000000;
	font-size:18px;
	font-weight:400;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration:none;
}
.top-menu ul li a.active {
	color: #fff;
}
.top-menu {
	float: right;
	padding: 2.8em;
	box-shadow: 9px 7px 22px 0px rgba(50, 50, 50, 0.18);
}
.nav_menu-item {

  display: inline-block;
  position: relative;
}
.nav_menu-item:hover {
  
}
.nav_menu-item:hover .nav_submenu {

  display: block;
}
.nav_submenu {
  background: #E02929;
  font-weight:400;
  font-family: 'Source Sans Pro', sans-serif;
  padding:none;
  margin:none;
  color: #fff;
  font-size: 14px;
  text-transform: none;
  display: none;
  position: absolute;
  width: 100px;
 
}

.cl-effect-15{
	padding-right: 40px;
}

.cl-effect-15 a {
	color: rgba(0,0,0,0.2);
	font-weight: 700;
	text-shadow: none;
}

.cl-effect-15 a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

#hi-admin{
	padding-left: 26%;
	padding-top: 5%;
	font-size: 30px;
	color: white;
}

#delete-sales{
	padding-top: 5%;
	padding-left: 30%;

}
#delete-sales h2{
color: #fff;
font-size: 24px;
}
input[type="text"]{
	text-align:left;
	position: relative;
	width:40%;
	padding:1%;
	background:transparent;
	font-family: 'nexa_lightregular';
	color: white;
	font-weight:600;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}
input[type="text"]:hover{
 	border:1px solid #949494;

	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 	
 }
input[type="submit"]{
	width: 10%;
	padding: 1%;
	background: transparent;
	border:1px solid #fff;
	font-family: 'nexa_lightregular';
	font-weight:600;
	font-size: 16px;
	outline: none;
	color: #fff;
	

}
input[type="submit"]:hover{
	border:1px solid #949494;
	color: #fff;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
}