@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/Nexa_Free_Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




body{
    background-image: url(../images/bgmohu.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;

}
#error_password{
	background:#DED6D6;
	text-align:center;
	opacity:0.5;
}
.main h1{
	font-size:35px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	padding-top: 19%;
	text-align: center;
}
.head {
	position: absolute;
	top:-13%;
	left: 35%;
}
.head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	border:6px solid rgba(221, 218, 215, 0.23);
}
.re-form {
   
	width: 32%;
	margin:9% auto 4% auto;
 	position: relative;
 	-webkit-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-moz-border-radius: 0.4em;

}

.main{
	position:relative;
	margin-top:10%;
	margin-left:-8%;
	margin-right:-5%;
}
.main form {
	width: 90%;
	margin: 0 auto;
	padding: 6% 0 6% 0;
}

.main p {
text-align: center;
}

.main form p a {
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
}

#form{
	position:relative;
	width:90%;
	padding-left:12%;
	padding-right:10%;
}

form p a:hover {
	color:#21A957;
}
 input[type="text"], input[type="password"],input[type="textfield"]{
	text-align:left;
	position: relative;
	width:100%;
	padding:3%;
	margin-bottom: 9%;
	font-family: 'nexa_lightregular';
	background:transparent;
	color:#fff;
	font-weight:600;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}

 input[type="text"]:hover, input[type="password"]:hover{
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 	
 }
 
 
 
input[type="submit"]{
	width: 99%;
	padding: 3%;
	margin-bottom: 8%;
	background: #21A957;
	font-family: 'Open Sans', sans-serif;
	color: #ECECEC;
	
	-webkit-text-shadow: 0px 0px 3px #000;
	-moz-text-shadow: 0px 0px 3px #000;
	-o-text-shadow: 0px 0px 3px #000;
	-ms-text-shadow: 0px 0px 3px #000;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
input[type="submit"]:hover{
	background:#128A42;
	color:#fff;
}

@media (max-width:1440px){
	.login-form {
	width:30%;
	margin: 11% auto 4% auto;
	}
	.main h1 {
	padding-top: 23%;
	}
	.copy-right {
	bottom: -26%;
	}
}
@media (max-width:1366px){
	.login-form {
	width: 32%;
	margin: 10% auto 4% auto;
	}
}
@media (max-width:1280px){
	.login-form  {
		margin:8% auto 0;
		width:34%;
	
}
@media (max-width:1024px){
.login-form  {
		margin:12% auto 0;
		width:45%;
	
}
@media (max-width:768px){
	.login-form  {
		margin: 16% auto 0;
		width: 59%;
	}
	.copy-right {
	left:38%;
	bottom:-14%;
	}
}
@media (max-width:640px){                                  
	.login-form {
	margin: 20% auto 0;
	width: 63%;
	}
	.copy-right {
	left:36%;
	bottom:-18%;
	}
}
@media (max-width:480px){                                  
	.login-form {
	margin: 32% auto 0;
	width: 74%;
	
	}
	.copy-right {
	left:30%;
	bottom:-17%;
	}
	.main h1 {
	font-size: 22px;
	}
	.head img {
	width: 78%;
	}
	.head {
	top: -15%;
	left: 34%;
	}
	input[type="text"], input[type="password"], input[type="submit"] {
	font-weight: 600;
	margin-bottom: 4%;
	}
@media (max-width:320px){                                  
	.login-form  {
		margin:20% auto 0;
		width: 85%;
		
	}
	.main h1 {
	padding-top: 20%;
	font-size: 20px;
	}
	.head img {
	width: 60%;
	border: 5px solid rgba(221, 218, 215, 0.23);
	}
	.head {
	top: -15%;
	left: 36%;
	}
	input[type="text"], input[type="password"],input[type="submit"] {
	font-weight:600;
	font-size: 15px;
	}
	.main form p a {
	font-size: 15px;
	}
	input[type="submit"] {
	padding: 4%;
	}
		
}